<div id="input-board">
  <% 13.times do |i| %>
    <% if i == 12 %>
      <% @octave += 1 %>
    <% end %>
    <%= link_to notes_path(note: {value: "#{@scale[i] + @octave.to_s}"}), method:'post', remote:true do %>
      <% if @scale[i].split('').last == '#' %>
        <div class="black-keys" id='trigger<%= i %>'>
          <h3 class="key-letters"><%= @scale[i] + @octave.to_s %></h3>
        </div>
      <% else %>
        <div class="white-keys" id='trigger<%= i %>'>
          <h3 class="key-letters"><%= @scale[i] + @octave.to_s %></h3>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
