<%= form_for @note, remote: true do |f| %>
  <%= f.text_field :value %>
  <%= f.submit %>
<% end %>
<%= button_to 'Play', sequence_play_path(@sequence), class: 'start_button', remote: true %>
<%= button_to 'Stop', sequence_stop_path(@sequence), class: 'stop_button', remote: true %>
<%= button_to 'Reset', sequence_reset_sequence_path(@sequence), remote: true%>
<%#= button_to 'Record', sequence_record_path(@sequence), remote: true%>
<%#= button_to 'Stop Recording', sequence_stop_record_path(@sequence), remote: true%>


<div id="input-board">
  <% 11.times do |i| %>
    <%= link_to sequence_play_path(@sequence), method:'post' do %>
      <div style='background-color: black; width: 50px; height: 200px; display:inline-block; margin-right: 10px;'id='trigger<%= i %>'></div>
    <% end %>
  <% end %>
</div>
