<div id="sequence-info">
    <% @sequence.notes.each do |note| %>
      <%= link_to "#{note.value}", note, method: 'delete', remote:true %>
    <% end %>
</div>

<div id="input-board">
  <% 13.times do |i| %>
    <% if i == 12 %>
      <% @octave += 1 %>
    <% end %>
    <%= link_to notes_path(note: {value: "#{@scale[i] + @octave.to_s}"}), method:'post', remote:true do %>
      <% if @scale[i].split('').last == '#' %>
        <div class="black-keys" id='trigger<%= i %>'>
          <h3 class="key-letters"><%= @scale[i] + @octave.to_s %></h3>
        </div>
      <% else %>
        <div class="white-keys" id='trigger<%= i %>'>
          <h3 class="key-letters"><%= @scale[i] + @octave.to_s %></h3>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= button_to 'Play', sequence_play_path(@sequence, tempo: @tempo), class: 'sequencer-control', remote: true %>
<%= button_to 'Stop', sequence_stop_path(@sequence), class: 'stop_button', remote: true %>
<%= button_to 'Reset', sequence_reset_sequence_path(@sequence), class: 'sequencer-control', remote: true%>
<%#= button_to 'Record', sequence_record_path(@sequence), remote: true%>
<%#= button_to 'Stop Recording', sequence_stop_record_path(@sequence), remote: true%>

<%= form_for @sequence, remote:true do |form| %>
  <div class="field">
    <%= form.label :tempo %>
    <%= form.text_field :tempo, id: :tempo %>
    <%= form.label :resolution %>
    <%= form.radio_button :resolution, 2 %> 1/2
    <%= form.radio_button :resolution, 4 %> 1/4
    <%= form.radio_button :resolution, 8 %> 1/8
    <%= form.label :direction %>
    <%= form.radio_button :direction, 'up' %> Up
    <%= form.radio_button :direction, 'down' %> Down
    <%= form.radio_button :direction, 'updown' %> Up/Down
  </div>
  <%= form.submit %>
<% end %>

<p id="tempo-container">Tempo: <%= @sequence.tempo %> bpm | Resolution: 1/<%= @sequence.resolution %> | Direction: <%= @sequence.direction %></p>
<div class="octaves">
  <p>octave:</p>
  <%= radio_button_tag 'octave', '1' %> 1
  <%= radio_button_tag 'octave', '2' %> 2
  <%= radio_button_tag 'octave', '3' %> 3
  <%= radio_button_tag 'octave', '4' %> 4
  <%= radio_button_tag 'octave', '5' %> 5
</div>

<script>
  $(function(){
    $("input[name=octave]").change(function(){
      var root_path = "<%= root_path %>"
      var url = root_path + "?octave=" + $(this).val();
      window.location.replace(url);
    });
  });
</script>
