<div id="sequence-info">
  <% @sequence.notes.each do |note| %>
    <%= link_to "#{note.value}", note, method: 'delete', remote:true %>
  <% end %>
</div>
<%= render 'keyboard' %>
<div class="control-container">
  <%= render 'controls' %>
</div>

<% @connected_devices.each do |device| %>
  <li><%= link_to device.name, sequence_set_device_path(sequence_id: @sequence.id, device_id: device.id) ,method: 'post' %></li>
<% end %>

<% if @current_device %>
  <h1><%= @current_device.name %></h1>
<% end %>
